<!DOCTYPE html>
<html lang="en">
	<!-- Sets up the basic stuff, like the UTF character set, width and compatibility-->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- This is what's seen on the website's tab-->
		<title>A Website</title>
		<!-- Links to the CSS code-->
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
	<body>
		<!-- Sets the title and subtitle-->
		<div id="header">
			<h1>Conical McFlask</h1>
			<h2>By Leo Black</h2>
		</div>
		<!-- Allows the user to click on the text to go to the other pages-->
		<div id="nav">
			<a href="{{ url_for('home') }}">Home</a> | <a href="{{ url_for('index') }}">Index</a> | <a href="{{ url_for('data') }}">Database</a>
		</div>
		<div id="content">
			<!-- Sets the body text-->
			<p>
				Welcome to this website.
				{% for i in array %}
				<br> {{ i }}
				{% endfor %}
			</p>
		</div>
		<div id="footer">
			<!-- &copy is the copyright symbol-->
			&copy2020 - Leo Black
		</div>
	</body>
</html>